.hero {	
	display: flex;
	align-items: center;
	position: relative;
	min-height: calc(40vh + 100px);
	padding: 5em 0;

	video {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
	h1 {
		margin: 0;
		font-size: 3rem;
	}
	p {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	.text {
		max-width: 670px;
		margin: 0 auto;
		text-align: center;
	}
}