.header {
	position: absolute;
	width: 100%;
	z-index: 1;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 1em 2em;
	}
	.logo {
		img {
			display: block;
		}
	}
	.menu {
		ul {
			display: flex;
			gap: 2em;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		a {
			color: #fff;
			text-decoration: none;

			&:hover,
			&:focus {
				color: #ddd;
			}
		}
	}
	.hamburger {
		display: none;
	}

	@media(max-width: 767px) {
		.logo {
			img {
				width: 200px;
			}
		}
	}

	@media(max-width: 599px) {
		.logo {
			img {
				width: 150px;
			}
		}
		.hamburger {
			display: flex;
			flex-direction: column;
			gap: 4px;
			transform: scale(1);
			transition: 0.3s ease-out;

			> span {
				display: block;
				width: 30px;
				height: 2px;
				background-color: #fff;
				transform: rotate(0) translate(0);
				opacity: 1;
				transition: 0.3s ease-out;
			}
		}
		.menu {
			user-select: none;

			> ul {
				box-sizing: border-box;
				display: none;

				position: absolute;
				left: 0;
				top: 0;
				height: 100vh;
				width: 100%;
				background: var(--primary);
				padding: 70px 2em 20px;
				z-index: -1;
			}
			&.open {
				> ul {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					gap: 1em;

					li {
						text-transform: uppercase;
					}
				}
				.hamburger {
					transform: scale(0.7);

					span {
						&:first-child {
							transform: rotate(45deg) translate(3px, 6px);
						}
						&:nth-child(2) {
							opacity: 0;
							transform: scale(0);
						}
						&:last-child {
							transform: rotate(-45deg) translate(2px, -6px);
						}
					}
				}
			}
		}
	}
}

@media(max-width: 599px) {
	.unscrollable {
		overflow: hidden;
		height: 100%;
	}
}
