.header {
	position: absolute;
	width: 100%;
	z-index: 1;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 1em 2em;
	}
	.logo {
		img {
			display: block;
		}
	}
	.menu {
		ul {
			display: flex;
			gap: 2em;
			list-style: none;
			margin: 0;
			padding: 0;
		}
		a {
			color: #fff;
			text-decoration: none;

			&:hover,
			&:focus {
				color: #ddd;
			}
		}
	}

	@media(max-width: 767px) {
		.logo {
			img {
				width: 200px;
			}
		}
	}
	@media(max-width: 599px) {
		.logo {
			img {
				width: 150px;
			}
		}
	}
}