.services {
	background-color: #fff;
	padding: 5rem;
	color: #444;

	> .intro,
	> .list {
		display: flex;
		justify-content: space-between;
		align-items: center;

		> div {
			width: 45%;
		}
		img {
			display: block;
			width: 100%;
		}
	}
	> .list {
		padding: 3em 0 0;

		> div {
			width: 30%;
		}
	}
}

.about-us {
	background-color: #ddd;
	color: #333;
	padding: 5rem;

	.image {
		width: 45%;
		order: 1;

		img {
			display: block;
			max-width: 100%;
			object-fit: cover;
			height: 100%;
		}
	}
	.description {
		width: 50%;
	}
	.container {
		display: flex;
		justify-content: space-between;
	}
}

.contact-us {
	background-color: rgba(0,0,0,0.3);
	padding: 5rem;
	text-align: center;

	.container {
		max-width: 500px;
	}
}