.intro {
	background-color: #fff;
	padding: 5rem;
	color: #444;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;

		> div {
			width: 45%;
		}
		img {
			display: block;
			width: 100%;
		}
	}
}